/* tag selectors */
body{
    font-family: Montserrat, sans-serif;
    text-align: center;
     ;
}


h1,h2{
    margin: 5% 15%;
    font-family: Montserrat, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
}

h2{
    margin: 0%;
    font-size: 3rem;
    text-align: center;
   
    
}

h3{
    
    font-size: 2rem;
    font-weight: 600;
    
}

p{
    padding: 3% 22%;
    color: #8f8f8f;
    font-weight: 500;

}





/* class selectors */
.btn{
    margin: 3% 1%;
    size: 3%;
}

.card-body{
    padding: 0;
}

.container-fluid{
    padding:3% 9% 8% 9%;
}


.iphone{
    width: 40%;
    rotate: 30deg;
    position: absolute;
    z-index: 0;
}

.logo-image{
    width: 10%;
    padding: 20px 20px;
}

.navbar-brand{
    font-family:"Poppins", sans-serif ;
    font-weight: 500;
}




.title-box{
    margin-top: 5%;
    
}

.fa-lg{
    font-size: 4rem;
    padding-bottom: 12%;
}

.t-img{
    border-radius: 100%;
    width: 10%;
    margin: 2%;

}



/* Id selectors */
#cta{
    padding: 10%;
    background-color:#ff4c68
}



#title{
    text-align: center;
    background-color:#ff4c68

    
    
}

#features{
font-family: Montserrat, sans-serif;
position: relative;
z-index: 1;
padding: 5%;
background-color: #ffff;
}


#testimonials{
    padding: 3% 15%;
    background-color: rgb(196, 240, 226);
}

#press{

    background-color: rgb(196, 240, 226);
}

#pricing{
    padding: 7% 15%;
    
}





/* mobile compatible */

@media (max-width: 1028px) {

    .h1{
        text-align: center;
    }

    .iphone{
        position: static;
        rotate: 0deg;
    }

    .fa-lg{
        padding: 12% 0;
    }
}